
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 300px;
 
  }
  main {
  margin-left: 20px;
  margin-right: 20px;
  }
.navbar {
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(17, 30, 34, 0.7);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
    
}
.logo h2 a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.nav-links li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  color: white;
    
  }

.nav-links li a {
  text-decoration: none;
  color: rgb(186, 186, 229);
  font-size: 18px;
    
  }
.nav-links li a:hover {
  color: white;
  }
  button {
  background-color: rgb(255, 69, 0);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  }
button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
button:hover {
  background-color: rgb(245, 59, 10);
}
.footer-container {
  background-color: #212329;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 0 4rem 0;
  
}
.footer {
  
  background-color: #212329;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  
  padding: 10px 0 0 10px;
  
}
.footer-heading h2 {
  margin-bottom: 2rem;
}
.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer-heading a:hover {
  color: rgba(216, 93, 93, 0.877);
  cursor: pointer;   
}
.footer-socialmedia {
  text-align: center;
  margin-right: 4rem;
  
}
.footer-socialmedia h2 {
  margin-bottom: 2rem;
}
.footer-socialmedia a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid white;
  padding: 5px 5px ;
  display: inline;
  border-radius: 50%;
}
.footer-socialmedia a:hover {
  color: rgba(216, 93, 93, 0.877);
  cursor: pointer;   
}
.footBottom {
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid gray;
  background-color: aliceblue;
}

/* Style the placeholder text */
#footer-email::placeholder {
  font-size: 14px;
  font-style: italic;
  color: #b1b1b1;
}
#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
#footer-email-btn {
  width: 100px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 69, 0);
  color: white;
  outline: none;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor: pointer;
  background-color: rgb(245, 59, 10);
  transition: all 0.4s ease-out;
}